{% extends "base.html" %}

{% block head %}

    <title>Update Profile</title>
    {% load static %} 
    <link rel="stylesheet" href="../../static/css/styles.css">

    <style>

    div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    }
  </style>
{% endblock head %}

    {% block content %}
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Save Changes">
            <input type="reset" value="Cancel" name="cancel" /><br>

          </form>
    </div>
{% endblock content %}
