{% extends "base.html" %}

{% block head %}
<title>Login</title>
    {% load static %} 
    <link rel="stylesheet" href="../../static/css/styles.css">

    <style>
        
div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  </style>
{% endblock head %}

{% block content %}


<div>
    {% if flag %}
    <form action="" method="post" id="large">
        {% csrf_token %}
        <label for="phone">Enter Your Phone number without zero:</label>
        <input type="text" id="phone" name="phone" placeholder="Your Phone Number...">
        <input type="submit" value="Send Code" id="large">
        <p></p>
       
    </form>
    {% else %}
    <form action="compare/" method="post" id="large">
        {% csrf_token %}
   
        <label for="code" id="large">A Code Send To Your Phone Enter That here:</label>
        <input type="hidden" id="phone" name="phone" value={{phone}}>
       
    <input type="text" id="code" name="code" placeholder="Enter The Code...">
    <input type="submit" value="Login" id="large">

    </form>

{% endif %}
</div>

{% endblock content %}