<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../../static/js/scripts.js"></script>
  
</head>
<body>
<p> {{ object.ticket }}</p>
<p>Datetime: {{ object.date_time|date:"y/m/d" }}</p>
<p>number: {{ object.number }}</p>

<p>status: {{object.status}}</p>
<p>price: {{object.ticket.fly.price}}</p>



          {% if object.status == "check" %}
          
            <a href="{% url 'payment' object.id %}">
                    <input type="submit" value="Pay"> </a>
          {% elif object.status == "paid" %}

          <a href="{% url 'cancel' object.id %}" onclick="return deletechecked();">
            <input type="submit" value="Cancel"> </a>   
            {% elif object.status == "canceld" %}

            <p> cancel percent: {{ object.ticket.fly.cancel_percent}}</p>
            
            <a href="{% url 'payment' object.id %}">
              <input type="submit" value="Pay"> </a>
                 


          {% endif %}






</body>
</html>