{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="../static/css/styles.css">
<title>Flights Lidt</title>
{% endblock head %}

{% block content %}
<body id="large">
{% if value != "-1"%}
    <div id="main"><p><a href="{% url 'order_by_price' %}"><input type="submit" value="Order By Price">
    </a></p></div>
    
{% endif %}
    
{% for t in flight_list %}
<p><a href="{% url 'flight_detail' t.id %}">{{ t.way }}-{{t.airplane.airline}}-{{t.price}}$ </a></p>
{% endfor %}
</body>
{% endblock content %}
