{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="../static/css/styles.css">
<title>index page</title>

{% endblock head %}

{% block content %}


<div id="main">
    <div>    <p><a href="{% url 'flight_list' %}"><input type="submit" value="Flights"></a></p> 
     </div>
    <div><p><a href="{% url 'search' %}"><input type="submit" value="Search by"></a></p>
    </div>
    <div><p><a href="http://127.0.0.1:8000/customer/"><input type="submit" value="Profile"> </a></p>
    </div>


    </div>
    <div id="main"><p><a href="http://127.0.0.1:8000/customer/comment/"><input type="submit" value="Contact Us"></a></p>  
    </div>
    <div id="main"><p><a href="http://127.0.0.1:8000/airlines/"><input type="submit" value="AirLines"></a></p>  
    </div>


{% endblock content %}
