<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index page</title>
    {% load static %} 
    <link rel="stylesheet" href="../static/css/styles.css">

</head>
<body id="medium">
  
    

<div id="main">
    <div>    <p><a href="{% url 'flight_list' %}">Flights</a></p>  </div>
    <div><p><a href="{% url 'search' %}">Search By</a></p></div>
    <div><p><a href="http://127.0.0.1:8000/customer/"> Profile Page</a></p></div>
    
    </div>

    
     






</body>
</html>