<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index page</title>
</head>
<body>
    
{% for t in all_flights %}

    <p> {{t.id}}))   {{ t.way }}....... Airplane:  {{t.airplane}}....... Airline: {{t.airplane.airline}} </p>
    <p>....... Seats: {{t.seats}}....... remaining: {{t.remaining}}
          
        
        

        {% if t.airplane.airline.Logo %}
        
<p></p>
            <img src= " {{t.airplane.airline.Logo.url}}">

          {% endif %}
    </p>
    
{% endfor %}

</body>
</html>