<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Search</title>
    </head>
<body>
    <form action="" method="post">
         {% csrf_token %}

         <select id="id_customer" name="customer">
           {% for x in ticket_list %}
              <option value="{{ x }}">{{x}}</option>
                

            {% endfor %}
            </select>
         {{ form.as_p }}
         
   
      <input type="submit" value="Book">

    </form>
</body>
</html>