{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="../../static/css/styles.css">

<title>Ticket</title>
{% endblock head %}

{% block content %}

<body id="large">
  <form action="" method="post">
       {% csrf_token %}
      {% if message == "" %}
      Chose Your Favorite Ticket :
       <select id="id_customer" name="customer">
        
         {% for x in ticket_list %}
            <option value="{{ x }}">{{x}}</option>
              

          {% endfor %}
          </select>
       {{ form.as_p }}
       
 
    <input type="submit" value="Book" id="medium">
        
  </form>
  {% else %}
{{message}}
<div id="main"><p><a href="http://127.0.0.1:8000/customer/order"><input class="button3" value="Do You Want To Continue? ">
</a></p>

<div id="main"><p><a href="http://127.0.0.1:8000/"><input class="button2" value="Back to Main Page">
</a></p>
{% endif %}

</body>
{% endblock content %}
